$product-fontfamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


// LOGIN PAGE COLORS starts
$bg-login-submit:#2c3882;
$color-login-leftspace:#2c3882;
$bg-login-rightspace:#ffffff;
$color-login-submit-button:#ffffff;
$color-button-focus:#161679;
$bg-login-submit-hover:#54913c;


// LOGIN PAGE COLORS ends


/*Colors */
$color-but-reset:#dc3545;
$color-but-save:#28a745;

$color-Ico-close:#bd0c0cb5;
$color-Ico-edit:#673ab7bd;
$color-Ico-view:#3c3939d4;

