footer {
    background-color: #575757a1;
    color: #ffffff;
    padding: 6px 0 1px 0;
  }
  
  footer a {
    color: #ffffff;  
  }
  footer p {
    margin-bottom:4px;
  }
  footer a:hover {
    color: rgb(27, 39, 4);
    text-decoration: underline;
  }