/* vars */
/* hide show mixin */
/* global  styles */
.menu {
    background: transparent;
    /* border: 1px solid yellow; */
    float: left;
    max-height: 58px;
    margin-left: 20px;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }    
  } 
  
  .menu,
  .menu a {
    color: #ffffff ;
    text-decoration: none;

  }
  
  .menu a {
    display: block;
    white-space: nowrap;
    border-bottom: 2px solid transparent; 
    &:hover{
        color: white;
        text-decoration: none;  
        border-bottom: 2px solid greenyellow;      
    }
  }
  
  .menu-dropdown,
  .menu input[type="checkbox"] {
    display: none;
  }
  
  .menu label:hover {
    cursor: pointer;
  }
  ul.menu-dropdown  {
      li{
          a{
            padding: 6px 20px;
          }
      }

  }
  
  /* narrow styles */
  @media screen and (max-width: 1024px) {
    .menu > ul,
    .menu-righticon {
      display: none;
    }
  
    input[type="checkbox"]:checked + ul {
      display: block;
      -webkit-animation: grow 0.5s ease-in-out;
              animation: grow 0.5s ease-in-out;
    }
  }
  /* large styles */
  @media screen and (min-width: 1025px) {
    .menu > label,
    input[type="checkbox"] {
      display: none;
    }
  
    .menu a {
      padding: 15px 20px;
    }
  
    .menu > ul > li {
      display: inline-block;
    }
  
    .menu-hasdropdown {
      position: relative;
    }
    .menu-hasdropdown:hover > ul {
      display: block;
      -webkit-animation: grow 0.5s ease-in-out;
              animation: grow 0.5s ease-in-out;
    }
  
    .menu-hasdropdown > ul {
      position: absolute;
      top:94%;
      left: 0;
      background: #0a1b01;
    }
  
    .menu-hasflyout > ul {
      left: 100%;
      top: 0;
    }
  
    .menu-hasflyout .menu-downicon {
      display: none;
    }
  }  
  
  /* narrow  */
  @media screen and (max-width: 1024px) {
    .menu > label {
      background: black;
      display: block;
      padding: 15px 20px;
      text-align: right;
    }
  
    .menu a {
      padding: 15px 20px;
    }
  
    .menu > ul i {
      float: right;
      padding: 5px 10px;
      background: #012c42;
    }
  
    .menu-dropdown a {
      background: #024d74;
    }
  
    .menu-hasflyout > ul a {
      background: #023d5b;
    }
  }
  @media screen and (min-width: 1025px) {
    .menu {
      max-width: 1024px;
      margin: 0 auto;
    }
  }
  