/*heading tab starts*/
  
.page-heading-rgt .nav-tabs {    
    margin-top: 7px;
    position: absolute;
    right: 0;
    bottom: -4px;
  }
  .page-heading-rgt .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #ebedeb;
    border-color: #ebedeb #ebedeb #ebedeb;
    border: 1px solid lightgray;
    border-bottom: 1px solid #ebedeb;
  }
  
  .page-heading-rgt .nav-tabs .nav-link {
  color:  #0a1b01;
  }
  
  .header-more{
    float: right;
    margin-top: 13px;
    .btn:hover{
        color: white;
    }
    button
    {  color: white;
        font-size: 14px;
    }
  }

  
  /*heading tab Ends*/